/* Estilos generales */
body.inicio {
    background-image: url('./imagen_inicio.jpg');
    background-size: cover;
    background-position: center;
    color: #333; /* Color de texto principal */
}
body.contacto {
    background-image: url('./imagen_contacto.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Color de texto principal */
}
body.comida-tradicional {
    background-image: url('./imagen_comida.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Color de texto principal */
}
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Estilos para botones */
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

/* Estilos para enlaces */
.enlaces {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para el selector de colores */
#color-selector {
    text-align: center;
    margin: 20px 0;
}

/* Estilos para el carousel */
.carousel-item img {
    width: 100%;
    height: auto;
}

/* Estilos para la sección "Sabías que" */
.haciendas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hacienda {
    flex: 1 1 30%;
    margin: 10px;
    text-align: center;
}

.hacienda img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos para el cambio de color */
body.azul { background-color: #ADD8E6; }
body.verde { background-color: #98FB98; }
body.amarillo { background-color: #FFFFE0; }
